:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  max-width: 800px;
  display: block;
  margin: 60px auto;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 96px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
.button {
  display: flex;
  justify-content: center;
}
button {
  margin: 50px 20px;
  border-radius: 4px;
  font-size: 16px;
}
button:hover {
  cursor: pointer;
}
.contact-me-link {
  padding: 20px 15px;
  color: white;
  background: var(--primary-color);
  border: none;
  box-shadow: var(--box-shadow);
}
.about-me {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 20px 15px;
  background: white;
}
.homepage {
  text-align: center;
  display: block;
  color: var(--primary-color);
}
.paragraph {
  display: flex;
  margin: 30px 0;
}
p {
  background: var(--secondary-color);
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  width: 380px;
  height: 340;
}
.contact-section {
  display: block;
  text-align: center;
}
#contact {
  text-decoration: none;
  color: rgb(108, 99, 255);
  font-size: 28px;
}

#contact:hover {
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
